<label>First Name: </label>
<%= @employee.first_name %><br>
<label>Last Name: </label>
<%= @employee.last_name %><br>
<label>Alias: </label>
<%= @employee.alias %><br>
<label>Title: </label>
<%= @employee.title %><br>
<label>Office: </label>
<%= @employee.office %><br>
<label>Img_URL: </label>
<%= @employee.img_url %><br>

<%# The Employee show page should list all of their attributes 
(and as a bonus, try to get their picture to show up!) %>
